<h1>individual event listing here:</h1>
<h4>
  <ul>
    <li>Name:</li><br>
    <%= @event.name %><br><br>
    <li>Location:</li><br>
    <%= @event.location %><br><br>
    <li>GuestList:</li>
    <!-- link to guest list here -->
    working on it!
  </ul>
</h4>

<%= link_to "for all events click here", events_path %>