<h1>individual event listing here:</h1>
<h4>
  <ul>
    <li>Name:</li><br>
    <%= @event.name %><br><br>
    <li>Location:</li><br>
    <%= @event.location %><br><br>
    <li>Event Host</li><br>
    <%= User.find(@event.user_id).name %><br><br>
    <li>GuestList:</li><br><br>
    <!-- erb link_to "Attendees", attendees_path erb -->
    <!-- this should render the attendees partial -->
    <% @correct_attendees.each do |attendee| %>
        <%= User.find(attendee.user_id).name %><br>
    <% end %>

  </ul>
</h4>

