<h1>individual event listing here:</h1>
<h4>
  <ul>
    <li>Name:</li><br>
    <%= @event.name %><br><br>
    <li>Location:</li><br>
    <%= @event.location %><br><br>
    <li>Event Host</li><br>
    <%= @host.name %><br><br>
    <li>GuestList:</li>
    <!-- erb link_to "Attendees", attendees_path erb -->
    <!-- this should render the attendees partial -->
    <% @correct_attendees.each do |attendee| %>
        <li><%= attendee.user_id %></li>
    <% end %>

  </ul>
</h4>

